<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet.png</key>
	<dict>
		<key> </key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>576</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>!</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>"</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>32</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>#</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>64</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>$</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>96</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>%</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>128</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>&amp;</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>160</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>'</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>192</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>(</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>224</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>)</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>256</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>*</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>288</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>+</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>320</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>,</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>352</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>-</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>384</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>.</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>416</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>/</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>448</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>0</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>480</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>1</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>512</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>2</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>544</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>3</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>576</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>4</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>5</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>32</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>6</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>64</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>7</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>96</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>8</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>128</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>9</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>160</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>:</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>192</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>;</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>224</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>&lt;</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>256</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>=</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>288</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>&gt;</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>320</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>?</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>352</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>@</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>384</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>A</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>416</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>B</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>448</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>C</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>480</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>D</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>512</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>E</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>544</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>F</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>576</real>
			<key>offsetY</key>
			<real>32</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>G</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>H</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>32</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>I</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>64</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>J</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>96</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>K</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>128</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>L</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>160</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>M</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>192</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>N</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>224</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>O</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>256</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>P</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>288</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>Q</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>320</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>R</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>352</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>S</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>384</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>T</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>416</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>U</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>448</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>V</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>480</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>W</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>512</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>X</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>544</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>Y</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>576</real>
			<key>offsetY</key>
			<real>64</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>Z</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>[</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>32</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>\</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>64</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>]</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>96</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>^</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>128</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>_</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>160</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>`</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>192</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>a</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>224</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>b</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>256</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>c</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>288</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>d</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>320</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>e</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>352</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>f</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>384</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>g</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>416</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>h</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>448</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>i</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>480</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>j</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>512</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>k</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>544</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>l</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>576</real>
			<key>offsetY</key>
			<real>96</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>m</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>n</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>32</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>o</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>64</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>p</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>96</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>q</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>128</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>r</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>160</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>s</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>192</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>t</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>224</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>u</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>256</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>v</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>288</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>w</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>320</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>x</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>352</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>y</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>384</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>z</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>416</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>{</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>448</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>|</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>480</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>}</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>512</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
		<key>~</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>544</real>
			<key>offsetY</key>
			<real>128</real>
			<key>width</key>
			<real>32</real>
		</dict>
	</dict>
</dict>
</plist>
